<!DOCTYPE html>
<html>
<head>
  <title>Sequence</title>
  <% if (controller_name == 'boards' && action_name == 'index') || (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new') %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <% end %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= controller.controller_name %> <%= action_name %>">

<%= yield %>
<script>
  <% if user_signed_in? %>
  var currentUser = '' || '<%= current_user.username%>';
  var currentUserId = '' || '<%= current_user.id%>';
  <%end%>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//js.pusher.com/3.0/pusher.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if action_name == 'show' %>
<script src="/game/jquery-ui.min.js" charset="utf-8"></script>
<script src="/game/hash.js" charset="utf-8"></script>
<script src="/game/pixi.js" charset="utf-8"></script>
<script src="/game/pixi-extra-filters.min.js" charset="utf-8"></script>
<script src="/game/jquery.mousewheel.min.js" charset="utf-8"></script>
<script src="/game/game.js" charset="utf-8"></script>
<script src="/game/board-card.js" charset="utf-8"></script>
<script src="/game/deck-card.js" charset="utf-8"></script>
<script src="/game/filters.js" charset="utf-8"></script>
<script src="/game/sequence.js" charset="utf-8"></script>
<% end %>
</body>
</html>
